<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Web App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>This is the home page.</h1>
    <button onclick="window.location.href='/to_second_page'">Go to second page</button>
    <a href="/to_second_page">Go to second page</a>

    <button onclick="window.location.href='/to_third_page'">Go to third page</button>
    <a href="/to_third_page">Go to third page</a>

    <script src="/static/script.js"></script>
</body>
</html>
